AWS_REGION=ap-northeast-2
DB_SECRET_ARN=arn:aws:secretsmanager:ap-northeast-2:ACCOUNT_ID:secret:REPLACE_ME
DB_HOST=REPLACE_ME.rds.amazonaws.com
DB_PORT=5432
DB_NAME=aivle_db
DB_SSLMODE=require
ALLOWED_ORIGINS=http://localhost:5173
